.card {
  width: 260px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
}

.icon {
  width: 100px;
}

.humidity {
  margin-top: 5px;
  color: #444;
}
h1,h2,p{
    color: blue;
}